In [ ]:
from google.colab import files
uploaded = files.upload()

Saving tmdb-movies.csv to tmdb-movies.csv

In [ ]:
import pandas as pd
import io
df = pd.read_csv(io.BytesIO(uploaded['tmdb-movies.csv']))

In [ ]:
df.head()

,id,imdb_id,popularity,budget,revenue,original_title,cast,homepage,director,tagline,...,overview,runtime,genres,production_companies,release_date,vote_count,vote_average,release_year,budget_adj,revenue_adj
0,135397,tt0369610,32.985763,150000000,1513528810,Jurassic World,Chris Pratt|Bryce Dallas Howard|Irrfan Khan|Vi...,http://www.jurassicworld.com/,Colin Trevorrow,The park is open.,...,Twenty-two years after the events of Jurassic ...,124,Action|Adventure|Science Fiction|Thriller,Universal Studios|Amblin Entertainment|Legenda...,6/9/15,5562,6.5,2015,1.379999e+08,1.392446e+09
1,76341,tt1392190,28.419936,150000000,378436354,Mad Max: Fury Road,Tom Hardy|Charlize Theron|Hugh Keays-Byrne|Nic...,http://www.madmaxmovie.com/,George Miller,What a Lovely Day.,...,An apocalyptic story set in the furthest reach...,120,Action|Adventure|Science Fiction|Thriller,Village Roadshow Pictures|Kennedy Miller Produ...,5/13/15,6185,7.1,2015,1.379999e+08,3.481613e+08
2,262500,tt2908446,13.112507,110000000,295238201,Insurgent,Shailene Woodley|Theo James|Kate Winslet|Ansel...,http://www.thedivergentseries.movie/#insurgent,Robert Schwentke,One Choice Can Destroy You,...,Beatrice Prior must confront her inner demons ...,119,Adventure|Science Fiction|Thriller,Summit Entertainment|Mandeville Films|Red Wago...,3/18/15,2480,6.3,2015,1.012000e+08,2.716190e+08
3,140607,tt2488496,11.173104,200000000,2068178225,Star Wars: The Force Awakens,Harrison Ford|Mark Hamill|Carrie Fisher|Adam D...,http://www.starwars.com/films/star-wars-episod...,J.J. Abrams,Every generation has a story.,...,Thirty years after defeating the Galactic Empi...,136,Action|Adventure|Science Fiction|Fantasy,Lucasfilm|Truenorth Productions|Bad Robot,12/15/15,5292,7.5,2015,1.839999e+08,1.902723e+09
4,168259,tt2820852,9.335014,190000000,1506249360,Furious 7,Vin Diesel|Paul Walker|Jason Statham|Michelle ...,http://www.furious7.com/,James Wan,Vengeance Hits Home,...,Deckard Shaw seeks revenge against Dominic Tor...,137,Action|Crime|Thriller,Universal Pictures|Original Film|Media Rights ...,4/1/15,2947,7.3,2015,1.747999e+08,1.385749e+09

In [ ]:
df.isnull().sum()

id                         0
imdb_id                   10
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7930
director                  44
tagline                 2824
keywords                1493
overview                   4
runtime                    0
genres                    23
production_companies    1030
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [ ]:
df = df.dropna(axis=0, subset=['imdb_id'])

In [ ]:
df.isnull().sum()

id                         0
imdb_id                    0
popularity                 0
budget                     0
revenue                    0
original_title             0
cast                      76
homepage                7922
director                  40
tagline                 2817
keywords                1487
overview                   3
runtime                    0
genres                    21
production_companies    1025
release_date               0
vote_count                 0
vote_average               0
release_year               0
budget_adj                 0
revenue_adj                0
dtype: int64

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10856 entries, 0 to 10865
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id                    10856 non-null  int64
 1   imdb_id               10856 non-null  object
 2   popularity            10856 non-null  float64
 3   budget                10856 non-null  int64
 4   revenue               10856 non-null  int64
 5   original_title        10856 non-null  object
 6   cast                  10780 non-null  object
 7   homepage              2934 non-null   object
 8   director              10816 non-null  object
 9   tagline               8039 non-null   object
 10  keywords              9369 non-null   object
 11  overview              10853 non-null  object
 12  runtime               10856 non-null  int64
 13  genres                10835 non-null  object
 14  production_companies  9831 non-null   object
 15  release_date          10856 non-null  object
 16  vote_count            10856 non-null  int64
 17  vote_average          10856 non-null  float64
 18  release_year          10856 non-null  int64
 19  budget_adj            10856 non-null  float64
 20  revenue_adj           10856 non-null  float64
dtypes: float64(4), int64(6), object(11)
memory usage: 1.8+ MB

In [ ]:
# Which month has the highest average revenue?

df['month']=df['release_date'].apply(lambda x:int(x.split('/')[0]))
month_highest_avg = df.groupby(['month'])['revenue'].mean()
month_highest_avg

month
1     1.417320e+07
2     2.864513e+07
3     3.814813e+07
4     3.311576e+07
5     6.236695e+07
6     7.455935e+07
7     5.679878e+07
8     2.778382e+07
9     1.936154e+07
10    2.550279e+07
11    5.638361e+07
12    5.915840e+07
Name: revenue, dtype: float64

In [ ]:
month = month_highest_avg.idxmax()
month

6

In [ ]:
# Which year has the highest number of movies?

movies_by_year = df.groupby(['release_year'])['imdb_id'].count()

In [ ]:
year_with_most_movies = movies_by_year.idxmax()
year_with_most_movies

2014

In [ ]:
df['profit']= df['revenue']-df['budget']
xyz = df.groupby(["original_title"])["profit"].max().idxmax()
xyz

'Avatar'

In [ ]:
popularity_x = df.groupby(["original_title"])["popularity"].max().idxmax()
popularity_x

'Jurassic World'

In [ ]:
bud_x = df.groupby(["original_title"])["budget"].max().idxmax()
bud_x

"The Warrior's Way"